.Header h3{
    color: hsl(213, 96%, 18%);
    font-weight: 700;
}

.Header p{
    color: hsl(231, 11%, 63%);
}

.formContent input{
    width: 100%;
    padding: 12px;
    border-radius: 6px;
    margin-bottom: 20px;
    margin-top: 8px;
    border: 1px solid hsl(231, 11%, 63%);
    outline-color: hsl(243, 100%, 62%);
}

::placeholder{
    color: hsl(231, 11%, 63%);
    font-weight: 700;
}

.nextStep{
    position: relative;
    right: -85%;
    color: white;
    background: hsl(213, 96%, 18%);
    padding: 9px 16px;
    border-radius: 10px;
    outline: none;
    margin-top: 35px;
}