body{
    background:  hsl(216, 12%, 8%);
}

.RatingBox, .ThankyouBox{
    background: hsl(213, 19%, 18%);
    width: 475px;
    height: fit-content;
    padding: 15px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 9px;
    color: white;
}

.RatingBox .desc{
    color: hsl(217, 12%, 63%);
}

.Rati   ngBox .starBox{
    margin: 25px 0;
}

.RatingBox .starBox img{
    background: hsl(213deg 15% 22% / 46%);
    padding: 20px;
    border-radius: 50%;
    font-size: 18px;
}

.Ratings{
    text-align: center;
}

.Ratings input {
    appearance: none;
    cursor: pointer;
    border-radius: 75%;
    padding: 18px 23px;
    background: #3f414d;
    color: #ececec;
    font-size: 15px;
    transition: all 0.1s;
    margin: 13px;
  }
  .Ratings input:hover{
    background: hsl(217, 12%, 63%);
  }

  .Ratings input:checked {
    background: hsl(25, 97%, 53%);
  }

  .Ratings input::before {
    content: attr(label);
    text-align: center;
  }

.RatingBox button{
    width: 100%;
    border-radius: 50px;
    padding: 10px;
    border: none;
    outline: none;
    background: hsl(25, 97%, 53%);
    color: white;
    margin-bottom: 25px;
}



.RatingBox button:hover{
    color: hsl(25, 97%, 53%);
    background: white;
}


.ThankyouBox{
    text-align: center;
}

.ThankyouBox img{
    margin: 25px 0;
}

.ThankyouBox .ratings{
    background: hsl(213deg 15% 22% / 46%);
    width: fit-content;
    display: block;
    margin: 0 auto;
    border-radius: 25px;
}

.ThankyouBox .ratings p{
    text-align: center;
    padding: 8px 25px;
    color: hsl(25, 97%, 53%);
    font-weight: 400;
}